// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$mid-gray: #606470;
$heavy-gray:#323643;

// Gradients
$gradient-blue: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);

// Palette main
$light: #fff9e0;
$mid: #f1c550;
$contrast: #ff6600;
$heavy: #ce2525;


//Objects color background
$user-form: $mid-gray;
$navbar: $heavy;
$footer: $contrast;


