<% if owner? %>
  <div class="btn-group  right-align">
    <%= link_to '<i class="fa fa-edit"></i> Editar'.html_safe, edit_building_path(@building), class: 'btn btn-primary btn-lg' %>
    <%= link_to '<i class="fa fa-trash"></i> Excluir'.html_safe, building_path(@building),method: :delete, data:{confirm: 'Tem certeza de querer excluir este item?'}, class: 'btn btn-danger btn-lg' %>
  </div>
<% end %>
