<div class="wrapper">
  <div class="container">
    <h1>Show page for Building id: <%=  @building.id %></h1>
    <p> title: <%= @building.title  %></p>
    <p> description: <%= @building.description  %></p>
  </div>
</div>
