// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "footer";
@import "building_card";
@import "photo_card";
@import "photo_modal";
@import "wrappers";
@import "forms";
@import "buttons";
@import "containers";



//General components variables

.right-align {
  float: right;
}

*{
  --navbar-height: 70px;
  --footer-height: 80px;
   --full-height: calc(100vh -  var(--navbar-height) - calc( var(--footer-height) / 1 ) - 0px);
  --full-inside-height: calc(var(--full-height) - var(--foter-height));
}
